<mat-toolbar color="primary">
    <span>Angular Application</span>
    <span class="example-spacer"></span>
    <button mat-raised-button routerLink="/home" color="primary">
        <mat-icon aria-hidden="false" aria-label="Home Link" fontIcon="home"></mat-icon>
        <span>Home</span>
    </button>
    <button mat-raised-button routerLink="/stores" color="primary">
        <mat-icon aria-hidden="false" aria-label="Stores Link" fontIcon="store"></mat-icon>
        <span>Stores</span>
    </button>
    <button mat-raised-button routerLink="/articles" color="primary">
        <mat-icon aria-hidden="false" aria-label="Articles Link" fontIcon="article"></mat-icon>
        <span>Articles</span>
    </button>
    <span class="example-spacer"></span>
</mat-toolbar>
